* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #457b9d;
    font-family:  sans-serif;
  }
  
  #header {
    text-align: center;
  }
  
  nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a8dadc;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  footer {
    color: #a8dadc;
  }
  
  #header-img {
    width: 30%;
    margin: 5em;
  }
  
  #video {
    width: 700px;     
    height: 300px;
    margin-top: 50px;
    padding: 0;
    display: flex;
    margin-left: 400px;
  
  }
  
  #information {
    margin-top: 20px;
    padding: 0;
    text-align: center;
  }
  
  fa {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  
  #product-images1 {
    display: grid;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
    margin-left: 100px;
    margin-bottom: 30px;
    border: 1px solid #000;
    border-radius: 3px;
    
    }
    
    #product-images2 {
    display: grid;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
    margin-left: 425px;
    margin-bottom: 50px;
    margin-top: -230px;
    border: 1px solid #000;
    border-radius: 3px;
    
    }
    
    #product-images3 {
    display: grid;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
    margin-left: 750px;
    margin-bottom: 50px;
    margin-top: -250px;
    border: 1px solid #000;
    border-radius: 3px;
    
    }
    
    #product-images4 {
    display: grid;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
    margin-left: 1075px;
    margin-bottom: 50px;
    margin-top: -250px;
    border: 1px solid #000;
    border-radius: 3px;
    
    }
  
  @media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }
  
  